body {
  background-image: url("https://img.freepik.com/free-photo/food-background-with-ingredients-pasta_1220-3108.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
